<html>

<!-- Head tag -->
<%- partial('_partial/head') %>

<body>
  <!-- Author and Title of Blog -->
  <%- partial('_partial/header') %>

  <!-- Nav Links -->
  <%- partial('_partial/nav') %>

  <!-- Main Content -->
  <section class="post-list container">
    <%- body %>
  </section>

  <!-- Page Footer -->
  <%- partial('_partial/footer') %>

  <% if(page.layout === 'post' && theme.disqus_shortname){ %>
  <%- partial('_partial/disqus-scripts') %>
  <%}%>
</body>

</html>
