<article class="row">
  <aside class="post-details col-md-2">
    <h4 class='posted-on'><%= date(item.date) %></h4>

  </aside>
  <div class="post-body col-md-8">
    <% if (item.link) { %>
      <h2 class='post-title'><a href="<%- url_for(item.link) %>" target="_blank">
        <%- item.title || item.link %>
      </a></h2>
    <% } else { %>
      <h2 class='post-title'><a href="<%- url_for(item.path) %>">
        <%= item.title %>
      </a></h2>
    <% } %>
  <div class="post-content">
    <%- item.excerpt %>
    <br>
    <a class="read-more" href="<%- config.root %><%- item.path %>">
      <%= theme.excerpt_link %>
    </a>
    <hr>
  </div>

</div>

</article>
