<article class="post row">
  <aside class="post-details col-md-2">
    <h4 class='posted-on'><%= date(item.date) %></h4>
    <p class="category">
      <% if (item.categories && item.categories.length){ %>
      <%
          var categories = [];
          item.categories.forEach(function(category){
            categories.push('<a href="' + config.root + category.path + '">' + category.name + '</a>');
        });
      %>
      <span class="glyphicon glyphicon-folder-open"></span>
      <%- categories.join(' / ') %>
      <% } %>
    </p>

    <p class='tag'>
      <% if (item.tags && item.tags.length){ %>
      <%
          var tags = [];
          item.tags.forEach(function(tag){
              tags.push('<a href="' + config.root + tag.path + '">' + tag.name + '</a>');

          });
      %>
          <span class="glyphicon glyphicon-tags"></span>
          <%- tags.join(', ') %>
      <% } %>
    </p>

  </aside>
  <div class="post-body col-md-8">
  <h1 class='post-title'><a href="<%= config.root + item.path %>"><%= item.title %></a></h1>

  <div class="post-content">

    <% if(page.layout !== 'post' && item.excerpt){ %>
    <%- item.excerpt %>

    <a class="read-more" href="<%- config.root %><%- item.path %>">
      <%= theme.excerpt_link %>
    </a>
    <% } else { %>
      <%- item.content %>
    <% } %>
    <hr>
  </div>

  <footer class="post-footer">
    <% if(page.layout !== 'page' && theme.show_share_links){ %>
      <%- partial('_partial/share-links', {item: item}) %>
    <%}%>


    <% if(page.layout === 'post' && theme.disqus_shortname){ %>
    <%- partial('_partial/comments') %>
    <%} else  if (page.layout !== 'page'){ %>
      <h5 class="comment-link-wrapper"><a class="comment-link" href="<%= config.root + item.path %>#disqus_thread">leave a comment >></a></h5>
    <%}%>
  </footer>

</div>

</article>
